:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    
    font-size: 15px;
    background-color: beige;
    font-family: 'Lexend Deca', sans-serif;
}
main {
    margin: 150px auto;
    max-width: 750px;
    overflow: auto;
    box-shadow: 0 0 5px 2px gray;
    border-radius: 10px;
}
div {
    color:white;
    float: left;
    max-width: 250px;
}
.first-div {
    background-color: var(--Bright-orange);
    border-radius:10px 0 0 10px;
}
.second-div {
    background-color: var(--Dark-cyan);
}
.third-div {
    background-color: var(--Very-dark-cyan);
    border-radius:0 10px 10px 0;
}
img {
    display:block;
    padding:30px;
}
h1 {
    padding:0 30px;
    font-family: 'Big Shoulders Display', cursive;
    margin: 10px 0;
}
p {
    color: var(--Transparent-white);
    padding:20px;
}
aside {
    padding:10px;
    margin:40px;
    overflow: hidden;
    background-color: white;
    border: 3px solid white;
    border-radius:50px;
    max-width: 120px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
}
.first-aside {
    color: var(--Bright-orange);
}
.second-aside {
    color: var(--Dark-cyan);
}
.third-aside {
    color: var(--Very-dark-cyan);
}
.first-aside:hover {
    background-color: var(--Bright-orange);
    color:white;
    cursor:pointer;
}
.second-aside:hover {
    background-color: var(--Dark-cyan);
    color:white;
    cursor:pointer;
}
.third-aside:hover {
    background-color: var(--Very-dark-cyan);
    color:white;
    cursor:pointer;
}
@media screen and (max-width: 700px) {
    .first-div {
        margin: 0 auto;
    }
    .second-div, .third-div {
        margin: 0 auto;
    }
    main {
        box-shadow: 0 0 0 0;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:500px) {
    main {
        max-width: 250px;
        box-shadow: 0 0 5px 2px gray;
    }
}